@charset "UTF-8";
body, div, li, ol, p, td, th, ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  border: 0;
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  touch-callout: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

html {
  font-family: sans-serif;
  -webkit-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

:focus {
  outline: 0;
}

:link, :visited {
  text-decoration: none;
}

a:active, a:hover {
  outline: 0;
}

.clearfix:after {
  display: block;
  clear: both;
  height: 0;
  font-size: 0;
  content: "";
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.dv {
  display: inline-block;
  vertical-align: middle;
}

.di {
  display: inline-block;
}

.text-hide {
  border: 0;
  background-color: transparent;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
}

.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.btn {
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-tap-highlight-color: transparent;
}

.btn:hover {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "微软雅黑", "Microsoft YaHei";
  width: 100%;
  margin: 0 auto;
}

* {
  margin: 0px;
  padding: 0px;
}

/* 清理浮动 */
.clearFloat:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearFloat {
  zoom: 1;
  /* for IE6 IE7 */
}

.clear {
  clear: both;
}

.night-form {
  width: 16rem;
  margin: 0 auto;
}

.night-form-p {
  text-align: center;
}

.night-form-p p:first-child {
  color: #2d2d2d;
  font-size: 0.512rem;
}

.night-form-p p {
  color: #666666;
  font-size: 0.512rem;
  line-height: 0.768rem;
}

.night-form-p p:nth-child(2) {
  margin-top: 0.64rem;
  margin-bottom: 0.64rem;
}

.night-form-p p:nth-child(7) {
  color: #ed6c71;
  font-size: 0.512rem;
  margin-top: 0.64rem;
  margin-bottom: 0.7466666667rem;
}

.night-form-p p:nth-child(8) span {
  color: #f96e08;
  font-size: 0.512rem;
}

.night-form-input {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.night-form-input label {
  display: block;
  margin-top: 0.5973333333rem;
}

.night-form-input input {
  width: 12.8426666667rem;
  height: 1.7066666667rem;
  border-radius: 0.2133333333rem;
  border: 1px solid #ed6c71;
  color: #8c8c8c;
  font-size: 0.64rem;
  box-sizing: border-box;
  padding-left: 0.64rem;
}

.night-label-select-ui span {
  color: #ed6c71;
  font-size: 0.64rem;
  display: inline-block;
  vertical-align: middle;
  margin-top: -1.0666666667rem;
  margin-left: 0.6826666667rem;
}

.ml0 {
  margin-left: 0rem !important;
}

.night-label-select span {
  color: #ed6c71;
  font-size: 0.64rem;
}

.night-label-select select {
  width: 8.576rem;
  height: 1.7066666667rem;
  border-radius: 0.2133333333rem;
  border: 1px solid #ed6c71;
}

.night-btn {
  width: 12.8426666667rem;
  height: 1.7066666667rem;
  border-radius: 0.2133333333rem;
  background-color: #ed6c71;
  border: none;
  color: #ffffff;
  font-size: 0.64rem;
  margin-top: 0.64rem;
}

.night-tsgn {
  margin: 0 auto;
  background: url(../images/night-tsgn-bg.png) center no-repeat;
  height: 24.448rem;
  width: 16rem;
  margin-top: 1.0666666667rem;
  background-size: contain;
}

.night-banner {
  margin: 0 auto;
  background: url(../images/night-banner.png) center no-repeat;
  height: 22.4213333333rem;
  width: 16rem;
  background-size: cover;
}

.night-tsgn ul {
  padding-top: 4.0533333333rem;
}

.night-tsgn ul li {
  float: left;
  width: 4.3306666667rem;
  height: 1.728rem;
  margin-left: 0.7466666667rem;
  margin-top: 0.4266666667rem;
  background: url(../images/night-tsgn-li.png) center no-repeat;
  background-size: contain;
}

.night-tsgn ul li:nth-child(6) span {
  margin-left: -0.2133333333rem;
}

.night-tsgn ul li:nth-child(9) span {
  margin-left: -0.2133333333rem;
}

.night-tsgn ul li:nth-child(12) span {
  margin-left: -0.2133333333rem;
}

.night-tsgn ul li img {
  width: 1.408rem;
  height: 1.408rem;
  vertical-align: middle;
  margin-top: 0.1706666667rem;
  margin-left: 0.1706666667rem;
}

.night-tsgn ul li span {
  color: #ffffff;
  font-size: 0.512rem;
}

.night-bllc {
  margin: 0 auto;
  width: 16rem;
  margin-top: -2.24rem;
}

.night-bllc img {
  width: 16rem;
  height: 16.96rem;
}

.night-pp {
  margin: 0 auto;
  margin-bottom: 2.1333333333rem;
  margin-top: -1.0666666667rem;
  width: 16rem;
}

.night-pp img {
  width: 16rem;
  height: 27.712rem;
}

.night-tc {
  width: 16rem;
  margin: 0 auto;
}

.night-tc-title {
  width: 16rem;
  margin: 0 auto;
  margin-top: 1.7066666667rem;
}

.night-tc-title img {
  float: right;
  width: 12.928rem;
  height: 3.7333333333rem;
}

.night-tc-list ul {
  margin-top: 0.4266666667rem;
  margin-bottom: 1.28rem;
}

.night-tc-list {
  width: 15.4026666667rem;
  margin: 0 auto;
}

.night-tc-list ul li {
  float: left;
  width: 7.552rem;
  height: 2.944rem;
}

.night-tc-list ul li img {
  width: 7.552rem;
  height: 2.944rem;
}

.night-tc-list ul li:nth-child(even) {
  margin-left: 0.2986666667rem;
}

.night-tc-list ul li:nth-child(3) {
  margin-top: 1.0666666667rem;
}

.night-tc-list ul li:nth-child(4) {
  margin-top: 1.0666666667rem;
}

.mb90 {
  margin-bottom: 1.92rem;
}

.night-pr {
  position: relative;
}

.night-pr-dia {
  position: relative;
}

.night-pa-dia {
  position: absolute;
  top: 0.4906666667rem;
  right: 2.1333333333rem;
  color: #f96e08;
  font-size: 0.64rem;
}

.night-pa {
  position: absolute;
  top: 0.4906666667rem;
  right: 2.6666666667rem;
  color: #f96e08;
  font-size: 0.64rem;
}

/* select-main */
div.select-main {
  display: inline-block;
  position: relative;
  width: 8.576rem;
  height: 1.7066666667rem;
  border-radius: 0.2133333333rem;
  border: 1px solid #ed6c71;
  -webkit-user-select: none;
  /* webkit (safari, chrome) browsers */
  -moz-user-select: none;
  /* mozilla browsers */
  -khtml-user-select: none;
  /* webkit (konqueror) browsers */
  -ms-user-select: none;
  /* IE10+ */
}

div.select-main.z-index {
  z-index: 10;
}

div.select-main.disabled {
  cursor: default;
  filter: alpha(opacity=50);
  opacity: 0.5;
  zoom: 1;
}

div.select-main.disabled div.select-set {
  cursor: default;
}

div.select-main.disabled div.select-arrow {
  cursor: default;
}

div.select-set {
  background-color: #FFFFFF;
  border-radius: 0.2133333333rem;
  color: #b4b4b4;
  font-size: 0.6826666667rem;
  cursor: pointer;
  height: 1.6rem;
  line-height: 1.6rem;
  overflow: hidden;
  position: relative;
  padding: 0 0.7466666667rem 0 0.32rem;
  width: 5.9733333333rem;
  text-align: center;
  margin-left: 0.1066666667rem;
  margin-top: 0.0426666667rem;
}

div.select-set::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 0.0426666667rem;
  height: 1.024rem;
  background-color: #ed6c71;
  right: 0px;
  top: 50%;
  margin-top: -0.512rem;
}

div.select-arrow {
  border-top: 0.32rem solid #ed6c71;
  border-left: 0.32rem solid transparent;
  border-right: 0.32rem solid transparent;
  cursor: pointer;
  height: 0px;
  position: absolute;
  top: 0.6826666667rem;
  right: 0.8533333333rem;
  width: 0px;
  z-index: 7;
}

div.select-arrow.reverse {
  border-top: 0.32rem solid transparent;
  border-bottom: 0.32rem solid #ed6c71;
  top: 0.2986666667rem;
}

div.select-block {
  background-color: #FFFFFF;
  border-radius: 0.1066666667rem;
  box-shadow: 0.0426666667rem 0.0426666667rem 0.0426666667rem #b3b3b3;
  left: 0.256rem;
  line-height: 0.4266666667rem;
  position: absolute;
  top: 1.7066666667rem;
  width: 8rem;
}

ul.select-list {
  cursor: pointer;
}

/* Scroll view */
ul.select-list::-webkit-scrollbar {
  width: 0.256rem;
}

ul.select-list::-webkit-scrollbar-track {
  border-radius: 0.2133333333rem;
}

ul.select-list::-webkit-scrollbar-thumb {
  border-radius: 0.2133333333rem;
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
}

ul.select-list {
  scrollbar-face-color: #AEB1B1;
  scrollbar-shadow-color: #C7CACA;
  scrollbar-highlight-color: #CED1D1;
  scrollbar-3dlight-color: #CED1D1;
  scrollbar-darkshadow-color: #C7CACA;
  scrollbar-track-color: #CED1D1;
  scrollbar-arrow-color: #333;
}

/* End scroll view */
ul.select-list li.select-items:nth-child(2)::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 7.4666666667rem;
  height: 1px;
  background-color: #666666;
  bottom: 0px;
  left: 50%;
  margin-left: -3.7333333333rem;
}

.select-main-dia ul.select-list li.select-items:nth-child(2)::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 5.3333333333rem;
  height: 1px;
  background-color: #666666;
  bottom: 0px;
  left: 50%;
  margin-left: -2.6666666667rem;
}

li.select-items {
  color: #666;
  font-size: 0.6826666667rem;
  height: 1.7066666667rem;
  line-height: 1.7066666667rem;
  position: relative;
}

li.select-items:hover,
li.select-items.active {
  background-color: #ed6c71;
  color: #FFFFFF;
}

.night-gd {
  width: 16rem;
  margin: 0 auto;
}

.night-gd-title {
  width: 16rem;
  margin: 0 auto;
  margin-top: 1.7066666667rem;
  margin-bottom: 2.56rem;
}

.night-gd-title img {
  float: left;
  width: 14.4853333333rem;
  height: 3.6906666667rem;
}

#certify {
  position: relative;
  width: 16rem;
  margin: 0 auto;
}

#certify .swiper-slide {
  width: 11.3493333333rem;
  height: 17.856rem;
}

.certify-one {
  width: 11.3493333333rem;
  height: 17.856rem;
  background: url(../images/certify-one.png) center no-repeat;
  background-size: cover;
  position: relative;
}

.certify-two {
  width: 11.3493333333rem;
  height: 17.856rem;
  background: url(../images/certify-two.png) center no-repeat;
  background-size: cover;
  position: relative;
}

.certify-three {
  width: 11.3493333333rem;
  height: 17.856rem;
  background: url(../images/certify-three.png) center no-repeat;
  background-size: cover;
  position: relative;
}

.certify-four {
  width: 11.3493333333rem;
  height: 17.856rem;
  background: url(../images/certify-four.png) center no-repeat;
  background-size: cover;
  position: relative;
}

.certify-zero ul {
  padding-top: 5.44rem;
}

.certify-zero ul li {
  height: 1.4933333333rem;
  line-height: 1.4933333333rem;
}

.certify-zero ul li:nth-child(2) {
  margin-top: 0.256rem;
}

.certify-zero ul li:nth-child(3) {
  margin-top: 0.256rem;
}

.certify-zero ul li:nth-child(4) {
  margin-top: 0.2133333333rem;
}

.certify-zero ul li span:nth-child(1) {
  color: #ffffff;
  font-size: 0.64rem;
  margin-left: 2.1333333333rem;
  width: 5.3333333333rem;
  display: inline-block;
}

.certify-zero ul li span:nth-child(2) {
  color: #ffffff;
  font-size: 0.64rem;
}

.certify-zero a {
  display: block;
  position: absolute;
  bottom: 1.7066666667rem;
  left: 4.6933333333rem;
  color: #ffffff;
  font-size: 0.512rem;
}

.swiper-slide-prev {
  opacity: 0.5 !important;
}

.swiper-slide-next {
  opacity: 0.5 !important;
}

#certify .swiper-container {
  padding-bottom: 1.28rem;
}

#certify .swiper-button-next {
  right: 0px;
  width: 1.28rem;
  height: 2.5173333333rem;
  background: url(../images/wm_button_icon-right.png) no-repeat;
  background-position: 0 0;
  background-size: 100%;
}

#certify .swiper-button-prev {
  left: 0px;
  width: 1.28rem;
  height: 2.5173333333rem;
  background: url(../images/wm_button_icon-left.png) no-repeat;
  background-position: 0 0;
  background-size: 100%;
}

#certify .swiper-pagination {
  width: 100%;
  bottom: 0.4266666667rem;
}

#certify .swiper-pagination-bullets .swiper-pagination-bullet {
  width: 0.256rem;
  height: 0.256rem;
  background: url(../images/night-circle.png) no-repeat;
  background-position: 0 0;
  background-size: 100%;
  margin: 0 0.2133333333rem;
}

#certify .swiper-pagination-bullets .swiper-pagination-bullet-active {
  width: 0.3626666667rem;
  height: 0.4266666667rem;
  background: url(../images/night-circle-active.png) no-repeat;
  background-position: 0 3px;
  background-size: 100%;
}

.night-dia {
  width: 100%;
  height: 100%;
  position: fixed;
  pointer-events: auto;
  left: 0;
  top: 0;
  background-color: #000;
  opacity: 0.4;
  visibility: hidden;
  z-index: 100;
}

.night-dia-con {
  width: 16rem;
  margin: 0 auto;
  z-index: 100;
  visibility: hidden;
}

.night-dia-bg {
  width: 12.416rem;
  height: 18.176rem;
  background: url(../images/night-dia.png) center no-repeat;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -9.088rem;
  margin-left: -6.208rem;
  background-size: cover;
}

.night-form-input-dia {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.night-form-input-dia label {
  display: block;
  margin-top: 0.5973333333rem;
}

.night-form-input-dia input {
  width: 10.4533333333rem;
  height: 1.7066666667rem;
  border-radius: 0.2133333333rem;
  border: 1px solid #ed6c71;
  color: #8c8c8c;
  font-size: 0.64rem;
  box-sizing: border-box;
  padding-left: 0.64rem;
}

.night-label-select-ui-dia span {
  color: #ed6c71;
  font-size: 0.64rem;
  display: inline-block;
  vertical-align: middle;
  margin-top: -1.0666666667rem;
}

.night-label-select-dia span {
  color: #ed6c71;
  font-size: 0.64rem;
}

.night-label-select-dia select {
  width: 8.576rem;
  height: 1.7066666667rem;
  border-radius: 0.2133333333rem;
  border: 1px solid #ed6c71;
}

.night-btn-dia {
  width: 10.4533333333rem;
  height: 1.7066666667rem;
  border-radius: 0.2133333333rem;
  background-color: #ed6c71;
  border: none;
  color: #ffffff;
  font-size: 0.64rem;
  margin-top: 0.64rem;
}

.night-text-p {
  color: #666666;
  font-size: 0.512rem;
  line-height: 0.768rem;
  margin-top: 6.8266666667rem;
  text-align: center;
}

.night-text-p span {
  color: #f96e08;
  font-size: 0.512rem;
}

.select-main-dia {
  width: 6.8266666667rem !important;
}

.select-main-dia div.select-set {
  width: 4.2666666667rem !important;
}

.select-main-dia div.select-block {
  width: 6.4rem !important;
}

.night-text {
  position: relative;
}

.night-close {
  position: absolute;
  top: -8.7466666667rem;
  right: -0.4266666667rem;
}

/*# sourceMappingURL=style.css.map */
